/*

   ПРИМЕР КАК ДЕЛАТЬ WEBP И AVIF ФОНЫ

   .no-webplossy .sectionBanner,
   .no-avif .sectionBanner {
      background: transparent url(../img/png/bannerBg.png) 50% 50%/cover no-repeat;
   }
   .webplossy .sectionBanner{
      background: transparent url(../img/webp/bannerBg.webp) 50% 50%/cover no-repeat;
   }
   .avif .sectionBanner {
      background: transparent url(../img/avif/bannerBg.avif) 50% 50%/cover no-repeat;
   }
*/

@import 'color.scss';
@import 'fonts.scss';
@import 'mixins.scss';

* {
   margin    : 0;
   padding   : 0;
   box-sizing: border-box;
}

body {
   background: $primary-color-dark;
   @include MontserratRegular(14);
}

.wrapper {
   width          : 1200px;
   display        : flex;
   justify-content: center;
   margin         : 10px auto;
}

.cards_wrapper {
   display              : grid;
   padding              : 10px;
   grid-template-columns: repeat(3, 1fr);
   gap                  : 10px;

   &_item {

      padding         : 20px;
      display         : flex;
      justify-content : space-between;
      background-color: rgb(211, 211, 211);
      border-radius   : 5px;
      border          : 2px solid rgb(36, 121, 99);

      &_img {
         height      : 35%;
         margin-right: 20px;
      }

      &_info {
         display        : flex;
         flex-direction : column;
         align-items    : flex-start;
         justify-content: flex-start;
         width          : 100%;

         span {
            @include MontserratSemiBold(14)
         }

         &_name {
            width: 100%;
         }

         &_username {
            margin-bottom : 10px;
            padding-bottom: 10px;
            border-bottom : 1px solid rgb(36, 121, 99);
            width         : 100%;
         }

         &_email {
            margin-bottom : 5px;
            padding-bottom: 10px;
            border-bottom : 1px solid rgb(36, 121, 99);
            width         : 100%;
         }

         &_adress {
            margin-bottom : 5px;
            padding-bottom: 10px;
            border-bottom : 1px solid rgb(36, 121, 99);
            width         : 100%;

            &_street {}

            &_suite {}

            &_city {}

            &_zip {}
         }

         &_phone {
            margin-bottom : 5px;
            border-bottom : 1px solid rgb(36, 121, 99);
            padding-bottom: 10px;
            width         : 100%;
         }

         &_site {}

         &_characteristics {
            width        : 100%;
            padding-top  : 10px;
            margin-bottom: 20px;
            flex-grow    : 1;

            &_company {}

            &_catch {}

            &_bs {}
         }

         &_buttons {
            display: flex;

            &_item {
               @include MontserratSemiBold(14);
               border         : 1px solid rgb(36, 121, 99);
               padding        : 5px;
               border-radius  : 5px;
               display        : flex;
               justify-content: center;
               align-items    : center;
               width          : 80px;

               cursor      : pointer;
               margin-right: 10px;

               &:last-child {
                  margin-right: 0;
               }
            }
         }
      }
   }
}

.modal {
   display         : none;
   position        : fixed;
   z-index         : 1;
   left            : 0;
   top             : 0;
   width           : 100%;
   height          : 100%;
   background-color: rgba(0, 0, 0, 0.5);
   

   &_active {
      display: block;
   }

   &_content {
      width           : 350px;
      border          : 1px solid rgb(36, 121, 99);
      background-color: rgb(189, 189, 189);
      padding         : 20px;
      margin          : 50px auto;
      display         : flex;
      flex-direction  : column;
      border-radius: 5px;

      &_close {
         align-self      : flex-end;
         width           : 15px;
         height          : 15px;
         cursor          : pointer;
         background-image: url(../img/delete.svg);
         background-size : contain;
         background-repeat: no-repeat;
         margin-bottom: 10px;
      }

      &_input {
         display      : flex;
         margin-bottom: 10px;
         height: 25px;
         display: flex;
         align-items: center;

         

         &_text {
            width: 150px;
            @include MontserratSemiBold(14);
         }

         &_edit {
            width: 100%;
            height: 100%;
            border: 1px solid rgb(36, 121, 99);
            padding: 0 0 0 5px;
            border-radius: 5px;
         }
      }
      .cards_wrapper_item_info_buttons_item {
         align-self: center;
         margin-top: 20px;
         width: 100px;
      }
   }
}